@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f3f8;
}
.active {
  position: relative;
  color: white;
}
.active::after {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  background-color: #3463de;
  border-radius: 5px;
  height: 100%;
  animation: item-fill 0.3s ease-in;
  animation-fill-mode: forwards;
  z-index: -1;
}
@keyframes item-fill {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
