@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f3f8;
}
.active {
  position: relative;
  color: white;
}
.active::after {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  background-color: #3463de;
  border-radius: 5px;
  height: 100%;
  animation: item-fill 0.3s ease-in;
  animation-fill-mode: forwards;
  z-index: -1;
}
@keyframes item-fill {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.photoUpload {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 3px;
  cursor: pointer;
}
.booking-input input {
  background-color: #f0f3f8;
  border: 1px solid #222;
  padding: 5px 10px;
  border-radius: 5px;
}
.navBtn {
  display: none;
}
@media (min-width: 721px) {
  .nav-links {
    clip-path: unset !important;
  }
}
@media (max-width: 720px) {
  .nav-links {
    background-color: #222032;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 60px 20px 0 20px;
    transition: 0.6s;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
  }
  .navBtn {
    display: flex;
    align-items: center;
    font-size: 35px;
  }
}
i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  height: fit-content;
}
.booking-btn {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
.booking-btn:hover {
  background: #2196f3;
  box-shadow:
    0 0 10px #2196f3,
    0 0 40px #2196f3,
    0 0 80px #2196f3;
}
@media (max-width: 720px) {
  .toBeHidden {
    display: none;
  }
}
